@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Coffee To Go</h1>
                <a class="btn btn-primary mt-5" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center mt-0">
    <div class="container" id="about">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Anything for you</h2>
            </div>
        </div>
        <img class="img-fluid w-50" src="~/assets/img/coffee1.png" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-dark mb-0">
    <div class="container px-4 px-lg-5">
        <!-- Project One Row-->
        <div class="row mb-lg-0 justify-content-center bg-dark">
            <div class="col-lg-3 bg-dark"><img class="img-fluid w-100" src="~/assets/img/coffee2.png" alt="..." /></div>
            <div class="col-lg-9">
                <div class="bg-black text-center h-100">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Order Now</h4>
                            <p class=" text-white-50">Americano, Cappuccino, Latte and others</p>
                            <a class="btn btn-primary mt-5" asp-action="Products">Get One</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>