<div class="container min-vh-100">
	<div class="row d-flex justify-content-center" style="margin-top:100px;">
		<div class="col-4 col-sm-2">
			<img class="img-fluid" src="~/assets/img/success.png" />
		</div>
		<div class="col-8 col-sm-10 text-center justify-content-center mt-5">
			<h2>Success</h2>
			<h5>Order Was Successfully Made, our operator will call you in 1 minute!</h5>
		</div>
	</div>
</div>
